@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	height: 100%;
}

body {
	font-family: "Comic Sans MS", sans-serif;
	background-image: url("/paper.webp");
}

.clip-cartoon {
	clip-path: path(
		"M162.505 2.65262C182.385 3.4067 202.182 3.90731 222.074 3.90731C220.081 9.88699 214.566 15.0109 213 21C210.081 32.1605 208.454 44.836 209.983 56.0908C213.59 82.6437 220.789 109.337 219.165 136.334C217.839 158.386 213.331 180.289 209.042 201.92C207.729 208.543 206.958 214.952 210.097 221.196C212.261 225.5 216.815 229.736 215.601 234.998C214.721 238.811 206.379 236.312 203.881 236.138C196.426 235.62 188.963 236.095 181.525 235.169C169.923 233.724 158.529 230.606 147.306 227.441C132.391 223.234 116.888 220.412 101.624 217.774C73.8269 212.971 45.9062 214.352 17.8736 214.352C15.4921 214.352 11.6662 215.075 11.2295 211.843C10.4802 206.298 11.9351 200.444 12.3416 194.933C12.7947 188.791 12.9669 182.408 12.5412 176.256C12.0755 169.524 9.89585 162.972 8.57754 156.38C4.34133 135.199 -0.285375 113.8 1.3631 92.1345C2.41259 78.3412 2.26287 64.6073 2.38966 50.7869C2.43671 45.6588 2.50671 40.5473 3.53029 35.5026C4.20296 32.1873 5.41185 29.0189 6.03966 25.6932C6.9757 20.7347 6.83272 16.3819 9.63262 11.9487C11.0934 9.6358 14.1465 5.16975 16.8756 4.24949C21.3137 2.75291 27.6442 3.90731 32.274 3.90731C40.741 3.90731 49.2159 4.01708 57.6814 3.85028C72.866 3.55107 87.8689 0.912867 103.05 0.656531C122.823 0.322646 142.746 1.90314 162.505 2.65262Z"
	);
}

.bg-paper:after {
	background-color: yellow;
	background-image: url("/paper.webp");
}
